 @import'utilities.css';
*{
	margin:0;
	padding:0;
	font-family: verdana;
}
header{
	  	 background-color:#11B8EA;
	
	  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  
}	

 footer{
 	width:400;
 	height:1000;
 	
 	background-color:#D0D3D4 ;
 	

 }
html{
	scroll-behavior:smooth;
}
 nav{
 	width:100;
 	height:100px;
 	background-color:;
 	line-height:50px;
 }
 
 nav ul{
 	float:right;
 	margin-right:10px;
 }
 
 nav ul li{
 	list-style-type:none;
 	display:inline-block;
 	transition:0.8s all;
 	color:#000;
 }
 nav ul li:hover{
 	background-color:#f39d1a;
 }

 nav ul li a{
 	text-decoration:none;
 	color:#fff;
 	padding:20px;
 }
 section{
 	padding:6rem 0 ;
}
main{
	
	margin-left:100px;

}

.container {
	
	padding:10px;
	padding-left:10px;
}